* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* ### Primary hsl */
    --cyan: 180, 62%, 55%;
    --red: 0, 78%, 62%;
    --orange: 34, 97%, 64%;
    --blue: 212, 86%, 64%;
    /* Neutral hsl*/
    --very-dark-blue: 234, 12%, 34%;
    --grayish-blue: 229, 6%, 66%;
    --very-light-gray: 0, 0%, 98%;
    font-size: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(var(--very-light-gray));
    display: grid;
    place-content: center;
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    color: hsl(var(--grayish-blue));
}

h1,
h2 {
    color: hsl(var(--very-dark-blue));
}

main {
    padding: 1em 1em;
    min-height: 100vh;
}

.hero-sec {
    padding: 3.5em 0rem 2.5em;
    /* padding: 10px 0rem 40px; */
    text-align: center;
}

.hero-sec__title--main span {
    display: block;
    font-weight: 200;
}

.hero-sec__title--main h1 {
    font-weight: 600;
    font-size: 1.6rem;
}

.hero-sec__title--sub {
    margin: 12px 0 0;
    font-size: 1rem;
    max-inline-size: 32ch;
}

.feature-sec {
    margin-top: 4.25em;
    display: grid;
    place-content: center;
    gap: 1.35em;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card {
    min-width: 315px;
    max-width: 325px;
    padding: 20px 32px;
    min-height: 220px;

    border-top: 6px;
    box-shadow: 5px 10px 15px hsla(var(--blue), 15%);
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    text-decoration: none;
    color: inherit;

}




.card h2{
    font-size: 1.2rem;
}

.card p{
    flex: 1;
    font-size: 1rem;
    max-inline-size: 32ch;
}


.card .card-logo{
    align-self: end;
    display: block;
}

.card1 {
    border-top: 5px solid hsl(var(--cyan));
}

.card2 {
    border-top: 5px solid hsl(var(--red));
}

.card3 {
    border-top: 5px solid hsl(var(--orange));
}

.card4 {
    border-top: 5px solid hsl(var(--blue));
}

.card:hover {
    box-shadow: 5px 5px 10px hsla(var(--very-dark-blue), 15%);
    background: hsla(var(--blue), 5%);
    transform: scale(1.005);
}
.card:active{
    box-shadow: 0px 5px 5px hsla(var(--very-dark-blue), 25%);
    transform: scale(0.98);
}

@media screen and (min-width:680px) {
    :root{
        font-size: 15px;
    }
    .feature-sec {
        margin-top: 0.5em;
        display: grid;
        grid-template: repeat(2, auto) / repeat(2,auto);
        place-items: center;
        gap: 1.75em;
    }
    .hero-sec {
        padding: 3.5em 0rem 2.5em;
        margin: 0 auto;
        text-align: center;
    }

    .hero-sec__title--main h1 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.4;
    }
    .hero-sec__title--sub {
        font-size: 1.05rem;
        line-height: 1.6;
        max-inline-size: 55ch;
        text-align: center;
        padding: 1rem 0;
        margin: 0 auto;
    }

    .card {
        min-width: 305px;
        min-height: 220px;
        padding: 20px;
    }

    .card h2{
        font-size: 1.3rem;    }

    .card p{
        max-inline-size: 32ch;
        font-size: 0.9rem;
    }
} 

/* beyond iPad landscape sizes */
@media screen and (min-width:1081px) {
   
    .hero-sec {
        padding: 10px 0rem 40px;
        margin: 0 auto;
        text-align: center;
    }

    .card {
        min-width: 350px;
        min-height: 250px;
        padding: 30px;
    }

    .feature-sec {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        gap: 2em;
        align-items: center;
        grid-template-areas: 
        "c1 c2 c4"
        "c1 c3 c4";
    }
    .card1{
        grid-area:c1;
    }
    .card2{
        grid-area:c2;
    }
    .card3{
        grid-area:c3;
    }
    .card4{
        grid-area:c4;
    };

    /* also works: grir-area: row-start/col-start/row-end/col-end */
    /* .card1 {
        grid-area: 1/ 1 / 3/2;
        align-self: center;
      }
    
      .card4 {
        grid-area: 1/ 3/3 /4;
        align-self: center;
      } */
} 
